node_modules
dist
.env
.env.*
!.env.example
*.log
coverage
.nyc_output
.jest-cache
prisma/migrations/dev
__tests__
**/*.spec.ts
**/*.test.ts
*.md
.git
.gitignore
.eslintrc*
.prettierrc*
tsconfig.*.json
!tsconfig.build.json
jest.config.*
